<script setup lang="ts"></script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <p>Fist Component</p>
        <v-btn>INCREMENT</v-btn>
      </v-col>
      <v-col>
        <p>Second Component</p>
        <v-btn>DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
