<script lang="ts" setup>
import { ref } from "vue";
import angry from "../../feeling_imgs/angry.png";
import cute from "../../feeling_imgs/cute.png";
import excited from "../../feeling_imgs/excited.png";
import pain from "../../feeling_imgs/pain.png";
import shocked from "../../feeling_imgs/shocked.png";
import smile from "../../feeling_imgs/smile.png";
const result = ref("Smile");
const emjClick = (name: string) => {
  result.value = name;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col class="justify-center">
        <v-img :src="angry" width="400" v-if="result === 'Angry'"></v-img>
        <v-img :src="cute" width="400" v-if="result === 'Cute'"></v-img>
        <v-img :src="excited" width="400" v-if="result === 'Excited'"></v-img>
        <v-img :src="pain" width="400" v-if="result === 'Pain'"></v-img>
        <v-img :src="shocked" width="400" v-if="result === 'Shocked'"></v-img>
        <v-img :src="smile" width="400" v-if="result === 'Smile'"></v-img>
      </v-col>
      <v-col class="flex-colum mb-6">
        <p class="text-h3 text-center mt-5 mb-5">{{ result }}</p>
        <v-col>
          <v-btn
            block
            :class="'mb-5'"
            @click="emjClick('Angry')"
            :color="result == 'Angry' ? 'yellow' : undefined"
            >ANGRY
          </v-btn>
          <v-btn
            block
            :class="'mb-5'"
            @click="emjClick('Cute')"
            :color="result == 'Cute' ? 'yellow' : undefined"
            >CUTE
          </v-btn>
          <v-btn
            block
            :class="'mb-5'"
            @click="emjClick('Excited')"
            :color="result == 'Excited' ? 'yellow' : undefined"
            >EXCITED
          </v-btn>
          <v-btn
            block
            :class="'mb-5'"
            @click="emjClick('Pain')"
            :color="result == 'Pain' ? 'yellow' : undefined"
            >PAIN
          </v-btn>
          <v-btn
            block
            :class="'mb-5'"
            @click="emjClick('Shocked')"
            :color="result == 'Shocked' ? 'yellow' : undefined"
            >SHOCKED
          </v-btn>
          <v-btn
            block
            :class="'mb-5'"
            @click="emjClick('Smile')"
            :color="result == 'Smile' ? 'yellow' : undefined"
            >SMILE
          </v-btn>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
