<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

interface Props {
  id: number;
  name: string;
  price: number;
}

const sum = ref(0);
const selects = ref<Props[]>([]);
const OnClick = (item: Props) => {
  selects.value.push(item);
  sum.value = sum.value + item.price;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="flex-wrap d-flex overflow-y-auto h-screen">
        <v-card
          v-for="item in products"
          :key="item.id"
          class="v-col-3 ma-5"
          max-width="200px"
        >
          <v-card-title class="text-center">{{ item.name }}</v-card-title>
          <v-card-text class="text-center">{{ item.price }}</v-card-text>
          <v-card-actions class="justify-center"
            ><v-card
              ><v-btn @click="OnClick(item)">Add</v-btn></v-card
            ></v-card-actions
          >
        </v-card>
      </v-col>
      <v-col cols="6" class="flex-column">
        <v-table height="600px">
          <thead>
            <tr>
              <th class="text-center">id</th>
              <th class="text-center">name</th>
              <th class="text-center">price</th>
            </tr>
          </thead>
          <tbody v-if="selects.length === 0">
            <td colspan="4">
              <p class="text-center text-h6">No Data</p>
            </td>
          </tbody>
          <tbody v-if="selects.length > 0">
            <tr v-for="(item, index) in selects" :key="index">
              <td class="text-center">{{ item.id }}</td>
              <td class="text-center">{{ item.name }}</td>
              <td class="text-center">{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <v-container
          ><p class="text-h3">Sum: {{ sum }}</p></v-container
        >
        <v-container></v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
